body {
    display: grid;
    background-color: lightgray;
    padding:0;
    margin: 0;
}

.encabezado {
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
}

.imagen_cabeza {
    grid-column: 3 / 4; /* Asegúrate de que esta línea esté correcta: columna 3 a 4 */
}